In [ ]:
import pandas as pd
import numpy as np

In [61]:
path_data = ".\ML-Capstone-main\Training_result.csv"
path_morning = ".\ML-Capstone-main\Morning_Meal.csv"
path_afternoon = ".\ML-Capstone-main\Afternoon_Meals.csv"
path_night = ".\\ML-Capstone-main\\Night_Meals.csv"

dataset = pd.read_csv(path_data, on_bad_lines="skip")
morning_data = pd.read_csv(path_morning, on_bad_lines="skip")
afternoon_data = pd.read_csv(path_afternoon, on_bad_lines="skip")
night_data = pd.read_csv(path_night, on_bad_lines="skip")
dataset

,Nama,Energi (Kal),Protein (g),Lemak (g),Karbodhidrat (g),Serat (g),cb9c6d5,f198765,8544017,5ecc961,f23f16a,f2c3dad,0bba1f1,927b95e,09f45f3,1e8283d
0,Nasi,180.0,3.00,0.30,39.80,2.0,1,4,1,1,3,4,3,1,4,3
1,Nasi Tim,120.0,2.40,0.40,26.00,0.5,4,2,5,1,2,3,4,1,4,4
2,Tapai Beras,99.0,1.70,0.30,22.40,0.0,1,0,3,5,4,4,5,2,0,5
3,Tepung beras mentah,353.0,7.00,0.50,80.00,2.4,0,5,4,1,0,0,3,5,3,0
4,Nasi Beras Merah,149.0,2.80,0.40,32.50,0.3,5,3,3,5,1,3,0,5,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,batagor,290.0,10.28,14.92,29.14,1.4,0,4,2,4,4,4,5,0,4,4
518,cakwe,209.0,3.30,9.92,26.68,0.7,1,2,5,4,0,2,1,5,4,2
519,crepes,112.0,4.38,5.54,10.83,0.3,2,5,0,5,0,3,4,1,2,1
520,donat,133.0,1.40,8.68,13.44,0.0,4,5,3,5,2,3,4,1,2,1
521,bubur,72.0,1.50,0.54,15.26,0.7,1,0,5,1,0,4,4,0,0,2

In [63]:
# Convert the values in the Name column to lowercase
dataset.iloc[:, 0] = dataset.iloc[:, 0].str.lower()
morning_data.iloc[:, 0] = morning_data.iloc[:, 0].str.lower()
afternoon_data.iloc[:, 0] = afternoon_data.iloc[:, 0].str.lower()
night_data.iloc[:, 0] = night_data.iloc[:, 0].str.lower()

In [65]:
#Take only food names
food_name = dataset['Nama'].values
morning_meals = morning_data['Nama'].values
afternoon_meals = afternoon_data['Nama'].values
night_meals = night_data['Nama'].values

In [59]:
#FIltering from food datasets into three meals each day
morning_meals_nutrition = []
afternoon_meals_nutrition = []
night_meals_nutrition = []

for i in food_name :
    if i in morning_meals :
        morning_meals_nutrition.append(i)

for i in food_name :
    if i in afternoon_meals :
        afternoon_meals_nutrition.append(i)
        
for i in food_name :
    if i in night_meals :
        night_meals_nutrition.append(i)

data_morning = dataset[dataset["Nama"].isin(morning_meals_nutrition)]
data_afternoon = dataset[dataset["Nama"].isin(afternoon_meals_nutrition)]
data_night = dataset[dataset["Nama"].isin(night_meals_nutrition)]

In [60]:
#Save Again 
data_morning.to_csv(".\ML-Capstone-main\Morning_Meal.csv", index=False)
data_afternoon.to_csv(".\ML-Capstone-main\Afternoon_Meals.csv", index=False)
data_night.to_csv(".\\ML-Capstone-main\\Night_Meals.csv", index=False)